<form method="POST" action="/posts">
    <div class="form-group">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">منشور جديد</legend>
        </fieldset>
        <label for="titleInput">title</label>
        <input type="text" class="form-control" name="title" id="titleInput">
    </div>
        <div class="form-group">
            <label for="artistInput">artist</label>
            <input type="text" class="form-control" name="artist" id="artistInput">
        </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>