<section class="container first-row">
  <div class="owl-carousel owl-theme">
    <% if (posts) { %> <% for (post of posts) { %>
    <div class="item">
      <a href="/post/s/<%= post._id %>">
        <img src="/uploads/<%= post.postImage %>" class="" />
      </a>
    </div>
    <% } %> <% } %>
  </div>
</section>
<section class="second-row">
  <div class="container-fluid p-0 mt-5">
    <div class="gallery">
      <% if (posts) { %> <% for (post of posts) { %>
      <a class="gallery-item" href="/post/s/<%= post._id %>"
        ><img src="/uploads/<%= post.postImage %>" alt=""
      /></a>
      <% } %> <% } %>
    </div>
  </div>
</section>
